In [1]:
import stata_setup
stata_setup.config("/Applications/Stata 17", "be")

  ___  ____  ____  ____  ____ ©
 /__    /   ____/   /   ____/      17.0
___/   /   /___/   /   /___/       BE—Basic Edition

 Statistics and Data Science       Copyright 1985-2021 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-STATA-PC        https://www.stata.com
                                   979-696-4600        stata@stata.com

Stata license: Single-user  perpetual
Serial number: 301706309873
  Licensed to: Jon Holder


Notes:
      1. Unicode is supported; see help unicode_advice.

In [2]:
%%stata
frame create distUs
cwf distUs

In [7]:
%%stata
import excel "Data/distToUS.xlsx", sheet("Sheet1") firstrow
describe

. import excel "Data/distToUS.xlsx", sheet("Sheet1") firstrow
(2 vars, 136 obs)

. describe

Contains data
 Observations:           136
    Variables:             2
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
distanceKm      double  %10.0g                distanceKm
Country2        str20   %20s                  Country2
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

.

In [9]:
%%stata
label variable distanceKm "distance from USA Capital to Country2 Capital"

In [17]:
%%stata
frame create isoCodes
cwf isoCodes
import excel "Data/ISO-PennCodes.xlsx", sheet("Sheet1") firstrow
drop if CountryName==""
drop if frietCountryName==""
describe

. frame create isoCodes

. cwf isoCodes

. import excel "Data/ISO-PennCodes.xlsx", sheet("Sheet1") firstrow
(9 vars, 271 obs)

. describe

Contains data
 Observations:           271
    Variables:             9
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
CountryName     str30   %30s                  CountryName
ISO3Abbr        str3    %9s                   ISO3Abbr
ISO3Code        int     %10.0g                ISO3Code
WTDBCode        long    %10.0g                WTDBCode
PennV5          int     %10.0g                PennV5
PennV56         int     %10.0g                PennV5.6
WorldBankCode   int     %10.0g                WorldBankCode
CensusCode      int     %10.0g                CensusCode
frietCountryN~e str30   %30s                  frietCountryName
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

.

In [23]:
%stata cwf distUs

Link the ISO codes to the distances from capitals.

In [24]:
%%stata
frlink 1:1 Country2, frame(isoCodes frietCountryName)
frget ISO3Abbr, from(isoCodes)

. frlink 1:1 Country2, frame(isoCodes frietCountryName)
  (3 observations in frame distUs unmatched)

. frget ISO3Abbr, from(isoCodes)
(3 missing values generated)
  (1 variable copied from linked frame)

.

In [25]:
%%stata
list if ISO3Abbr==""

     +--------------------------------------------------------+
     | distanc~m               Country2   isoCodes   ISO3Abbr |
     |--------------------------------------------------------|
 22. |  7827.286                   USSR          .            |
104. | 10518.971                  Zaire          .            |
134. | 10195.633   Central.African.Repu          .            |
     +--------------------------------------------------------+

In [28]:
%%stata
replace ISO3Abbr = "CAF" if Country2 == "Central.African.Repu"
replace ISO3Abbr = "COG" if Country2 == "Zaire"
replace ISO3Abbr = "RUS" if Country2 == "USSR"

. replace ISO3Abbr = "CAF" if Country2 == "Central.African.Repu"
(0 real changes made)

. replace ISO3Abbr = "COG" if Country2 == "Zaire"
(0 real changes made)

. replace ISO3Abbr = "RUS" if Country2 == "USSR"
(1 real change made)

.

Country distances have been mapped to ISO-3 Country Codes.

---

In [63]:
%%stata
frget WTDBCode, from(isoCodes)

(3 missing values generated)
  (1 variable copied from linked frame)

In [70]:
%%stata
list if WTDBCode==.

     +-----------------------------------------------------------------+
 22. | distanc~m |             Country2 | isoCodes | ISO3Abbr | PennV5 |
     |  7827.286 |                 USSR |        . |      RUS |      . |
     |-----------------------------------------------------------------|
     |                            WTDBCode                             |
     |                                   .                             |
     +-----------------------------------------------------------------+

     +-----------------------------------------------------------------+
104. | distanc~m |             Country2 | isoCodes | ISO3Abbr | PennV5 |
     | 10518.971 |                Zaire |        . |      COG |      . |
     |-----------------------------------------------------------------|
     |                            WTDBCode                             |
     |                                   .                             |
     +-----------------------------------------------------------------+

     +-----------------------------------------------------------------+
134. | distanc~m |             Country2 | isoCodes | ISO3Abbr | PennV5 |
     | 10195.633 | Central.African.Repu |        . |      CAF |      . |
     |-----------------------------------------------------------------|
     |                            WTDBCode                             |
     |                                   .                             |
     +-----------------------------------------------------------------+

In [72]:
%%stata
replace WTDBCode = 9999999 if Country2 == "Central.African.Repu"
replace WTDBCode = 9999998 if Country2 == "Zaire"
replace WTDBCode = 9999997 if Country2 == "USSR"

. replace WTDBCode = 9999999 if Country2 == "Central.African.Repu"
(0 real changes made)

. replace WTDBCode = 9999998 if Country2 == "Zaire"
(1 real change made)

. replace WTDBCode = 9999997 if Country2 == "USSR"
(1 real change made)

.

In [34]:
%%stata
frame create lang
cwf lang
import excel "Data/languages.xlsx", sheet("Sheet1") firstrow
describe

Exception in thread Stata:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Applications/Stata 17/utilities/pystata/core/stout.py", line 176, in run
    raise SystemError(output)
SystemError:
. frame create lang

. cwf lang

. import excel "Data/languages.xlsx", sheet("Sheet1") firstrow
file Data/languages.xlsx not found
r(601);
r(601);

In the languages file, English == 5.

In [57]:
%%stata
gen common_lang = 1 if langCode==5
list if common_lang == 1

. clear

. import excel "Data/languages.xlsx", sheet("Sheet1") firstrow
(6 vars, 164 obs)

. describe

Contains data
 Observations:           164
    Variables:             6
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
gdpRank         int     %10.0g                gdpRank
WTDBCode        long    %10.0g                WTDBCode
pennV5          int     %10.0g                pennV5
langCode        byte    %10.0g                langCode
countryName     str16   %16s                  countryName
langName        str14   %14s                  langName
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

. gen common_lang = 1 if langCode==5
(126 missing values generated)

. list if common_lang == 1

     +----------------------------------------------------------------------+
  1. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |       1 |   218400 |     66 |        5 |              USA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |       4 |   538260 |    129 |        5 |               UK |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |       7 |   211240 |     50 |        5 |           CANADA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      10 |   453440 |     84 |        5 |        HONG.KONG |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      23 |   710360 |    131 |        5 |        AUSTRALIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      33 |   533720 |    117 |        5 |          IRELAND |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      37 |   456080 |     98 |        5 |      PHILIPPINES |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 38. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      40 |   117100 |     38 |        5 |     SOUTH.AFRICA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 39. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      41 |   453560 |     85 |        5 |            INDIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 51. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      53 |   715540 |    133 |        5 |      NEW.ZEALAND |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 55. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      57 |   165660 |     32 |        5 |          NIGERIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 58. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      60 |   164300 |     23 |        5 |          LIBERIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 73. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      75 |   350440 |     48 |        5 |          BAHAMAS |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 76. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      78 |   574700 |    120 |        5 |            MALTA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 82. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      84 |   353880 |     59 |        5 |          JAMAICA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 89. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      91 |   357800 |     65 |        5 |     TRINIDAD.TBG |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 91. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      93 |   167160 |     47 |        5 |         ZIMBABWE |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 93. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      95 |   162880 |     17 |        5 |            GHANA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 97. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |      99 |   356580 |      0 |        5 |     ST.KITTS.NEV |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 98. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     100 |   164040 |     21 |        5 |            KENYA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
101. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     103 |   220600 |      0 |        5 |          BERMUDA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
102. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     104 |   164800 |     28 |        5 |        MAURITIUS |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
104. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     106 |   168940 |     46 |        5 |           ZAMBIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
113. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     115 |   725980 |    134 |        5 |   PAPUA.N.GUINEA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
116. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     119 |   350520 |     49 |        5 |         BARBADOS |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
119. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     122 |   351360 |      0 |        5 |     CAYMAN.ISLDS |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
129. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     132 |   363280 |     73 |        5 |           GUYANA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
130. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     133 |   164540 |     25 |        5 |           MALAWI |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
131. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     134 |   722420 |    132 |        5 |             FIJI |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
136. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     139 |   360840 |      0 |        5 |           BELIZE |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
139. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     142 |   162700 |     16 |        5 |           GAMBIA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
141. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     144 |   168000 |     44 |        5 |           UGANDA |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
143. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     146 |   166900 |     35 |        5 |       SEYCHELLES |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
145. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     148 |   722960 |      0 |        5 |         KIRIBATI |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |
     |                                      1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
147. | gdpRank | WTDBCode | pennV5 | langCode |      countryName | langName |
     |     150 |   166940 |     36 |        5 |     SIERRA.LEONE |  English |
     |----------------------------------------------------------------------|
     |                               common~g                               |

In [74]:
%%stata
cwf distUs
frlink 1:1 WTDBCode, frame(lang)
frget common_lang, from(lang)

. cwf distUs

. describe

Contains data
 Observations:           136
    Variables:             6
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
distanceKm      double  %10.0g                distance from USA Capital to
                                                Country2 Capital
Country2        str20   %20s                  Country2
isoCodes        int     %10.0g
ISO3Abbr        str3    %9s                   ISO3Abbr
PennV5          int     %10.0g                PennV5
WTDBCode        long    %10.0g                WTDBCode
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

.

In [83]:
%%stata
replace common_lang=0 if common_lang==.

(105 real changes made)

In [84]:
%%stata
tab common_lang

common_lang |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |        105       77.21       77.21
          1 |         31       22.79      100.00
------------+-----------------------------------
      Total |        136      100.00

Common language is added to the dataset.

---

In [85]:
%%stata
describe

Contains data
 Observations:           136
    Variables:             8
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
distanceKm      double  %10.0g                distance from USA Capital to
                                                Country2 Capital
Country2        str20   %20s                  Country2
isoCodes        int     %10.0g
ISO3Abbr        str3    %9s                   ISO3Abbr
PennV5          int     %10.0g                PennV5
WTDBCode        long    %10.0g                WTDBCode
lang            int     %10.0g
common_lang     float   %9.0g
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

In [87]:
%%stata
list Country2 ISO3Abbr common_lang distanceKm if common_lang==1

     +-------------------------------------------------------+
     |            Country2   ISO3Abbr   common~g   distanc~m |
     |-------------------------------------------------------|
  3. |      United.Kingdom        GBR          1    5904.034 |
  6. |              Canada        CMR          1     733.894 |
  9. |           Hong.Kong        HKG          1   13128.552 |
 20. |           Australia        AUS          1   15958.048 |
 30. |             Ireland        IRL          1    5448.428 |
     |-------------------------------------------------------|
 34. |         Phillipines        PHL          1   13792.935 |
 37. |        South.Africa        ZAF          1   12723.319 |
 38. |               India        IND          1   12051.454 |
 50. |         New.Zealand        NZL          1   14097.807 |
 54. |             Nigeria        NGA          1    8737.004 |
     |-------------------------------------------------------|
 57. |             Liberia        LBR          1    7535.679 |
 67. |             Bahamas        BHS          1     1538.46 |
 70. |               Malta        MLT          1    7728.808 |
 75. |             Jamaica        JAM          1    2326.277 |
 81. | Trinidad.And.Tobago        TTO          1    3501.089 |
     |-------------------------------------------------------|
 82. |            Zimbabwe        ZWE          1   12835.485 |
 84. |               Ghana        GHA          1    8487.971 |
 87. |               Kenya        KEN          1    12152.34 |
 89. |           Mauritius        MUS          1   15224.496 |
 91. |              Zambia        ZMB          1    12400.09 |
     |-------------------------------------------------------|
 98. |    Papua.New.Guinea        PNG          1   14559.934 |
101. |            Barbados        BRB          1    3344.501 |
112. |              Guyana        GUY          1    4043.371 |
113. |              Malawi        MWI          1   12781.106 |
114. |                Fiji        FJI          1   12511.104 |
     |-------------------------------------------------------|
118. |              Belize        BLZ          1    2669.844 |
121. |              Gambia        GMB          1    6534.561 |
123. |              Uganda        UGA          1   11678.979 |
125. |          Seychelles        SYC          1   15095.282 |
128. |        Sierra.Leone        SLE          1     7162.07 |
     |-------------------------------------------------------|
135. |     Solomon.Islands        SLB          1   13513.582 |
     +-------------------------------------------------------+

In [88]:
%%stata
frame create usExports
cwf usExports
import excel "Data/us_merch_exports_2014.xlsx", sheet("USEXPORTS") firstrow
describe

Exception in thread Stata:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Applications/Stata 17/utilities/pystata/core/stout.py", line 176, in run
    raise SystemError(output)
SystemError:
. frame create usExports

. swf usExports
command swf is unrecognized
r(199);
r(199);

**Check for duplicates or other data errors.**

In [111]:
%%stata
cwf usExports
duplicates tag ISOCODE, generate(dup)

. cwf usExports

. duplicates tag ISOCODE, generate(dup)

Duplicates in terms of ISOCODE

.

In [113]:
%%stata
list Country ISOCODE if dup==1

     +--------------------------------------------+
     |                          Country   ISOCODE |
     |--------------------------------------------|
 17. |                     Burkina Faso       BFA |
 18. |                  Burma (Myanmar)       BFA |
 69. | Micronesia (Federated States of)       FSM |
 70. |      Falkland Islands (Malvinas)       FSM |
 82. |                       Guadeloupe       GRD |
     |--------------------------------------------|
 83. |                          Grenada       GRD |
214. |                     Saint Helena       WSM |
215. |                            Samoa       WSM |
     +--------------------------------------------+

Fix the incorrect ISO codes in the export data

In [114]:
%%stata
replace ISOCODE="MMR" in 18
replace ISOCODE="FLK" in 70
replace ISOCODE="GLP" in 82
replace ISOCODE="SHN" in 214

. replace ISOCODE="MMR" in 18
(1 real change made)

. replace ISOCODE="FLK" in 70
(1 real change made)

. replace ISOCODE="GLP" in 82
(1 real change made)

. replace ISOCODE="SHN" in 214
(1 real change made)

.

In [117]:
%%stata
duplicates list ISOCODE

Duplicates in terms of ISOCODE

  +-----------------------+
  | Group   Obs   ISOCODE |
  |-----------------------|
  |     1    67       FLK |
  |     1    70       FLK |
  |     2   175       SHN |
  |     2   214       SHN |
  +-----------------------+

In [124]:
%%stata
list Country ISOCODE in 67/70

     +--------------------------------------------+
     |                          Country   ISOCODE |
     |--------------------------------------------|
 67. |                    Faroe Islands       FLK |
 68. |                           France       FRA |
 69. | Micronesia (Federated States of)       FSM |
 70. |      Falkland Islands (Malvinas)       FLK |
     +--------------------------------------------+

In [125]:
%%stata
replace ISOCODE="FRO" in 67

(1 real change made)

In [126]:
%%stata
list Country ISOCODE in 175
list Country ISOCODE in 214

. list Country ISOCODE in 175

     +---------------------------------+
     |               Country   ISOCODE |
     |---------------------------------|
175. | Saint Kitts and Nevis       SHN |
     +---------------------------------+

. list Country ISOCODE in 214

     +------------------------+
     |      Country   ISOCODE |
     |------------------------|
214. | Saint Helena       SHN |
     +------------------------+

.

In [127]:
%%stata
replace ISOCODE="KNA" in 175
duplicates list ISOCODE

. replace ISOCODE="KNA" in 175
(1 real change made)

. duplicates list ISOCODE

Duplicates in terms of ISOCODE

  +---------------+
  | Obs   ISOCODE |
  |---------------|
  | 110       KNA |
  | 175       KNA |
  +---------------+

.

In [128]:
%%stata
list Country ISOCODE in 110

     +-----------------------+
     |     Country   ISOCODE |
     |-----------------------|
110. | Saint Lucia       KNA |
     +-----------------------+

In [129]:
%%stata
replace ISOCODE="LCA" in 110
duplicates list ISOCODE

. replace ISOCODE="LCA" in 110
(1 real change made)

. duplicates list ISOCODE

Duplicates in terms of ISOCODE

  +---------------+
  | Obs   ISOCODE |
  |---------------|
  | 110       LCA |
  | 117       LCA |
  +---------------+

.

In [130]:
%%stata
list Country ISOCODE in 117

     +-------------------------------------+
     |                   Country   ISOCODE |
     |-------------------------------------|
117. | Saint Pierre and Miquelon       LCA |
     +-------------------------------------+

In [131]:
%%stata
replace ISOCODE="SPM" in 117
duplicates list ISOCODE

. replace ISOCODE="SPM" in 117
(1 real change made)

. duplicates list ISOCODE

Duplicates in terms of ISOCODE

(0 observations are duplicates)

.

**All ISOCODE values are now unique**

In [132]:
%%stata
cwf distUs
frlink 1:1 ISO3Abbr, frame(usExports ISOCODE)
frget usExp=USEXP, from(usExports)

. cwf distUs

. frlink 1:1 ISO3Abbr, frame(usExports ISOCODE)
  (6 observations in frame distUs unmatched)

. frget usExp=USEXP, from(usExports)
(6 missing values generated)
  (1 variable copied from linked frame)

.

In [135]:
%%stata
list Country2 ISO3Abbr if usExp==.

     +---------------------------+
     |       Country2   ISO3Abbr |
     |---------------------------|
  1. |        Germany        DEU |
 10. |    Belgium-Lux        BLX |
 26. |         Brazil        BAT |
 40. |     Yugoslavia        SER |
 44. | Czechoslovakia        CSK |
     |---------------------------|
103. |          Congo        ZAR |
     +---------------------------+

**NEED to correct more ISO codes usDist frame**

In [145]:
%%stata
list Country2 ISO3Abbr usExp if Country2=="Brazil"

     +-----------------------------+
     | Country2   ISO3Abbr   usExp |
     |-----------------------------|
 26. |   Brazil        BAT       . |
     +-----------------------------+

In [147]:
%%stata
replace ISO3Abbr="BRA" in 26
replace ISO3Abbr="GER" in 1

. replace ISO3Abbr="BRA" in 26
(0 real changes made)

. replace ISO3Abbr="GER" in 1
(1 real change made)

.

**Add new observation for just Belgium**

In [148]:
%%stata
insobs 1
list Country2 if ISO3Abbr==""

. insobs 1
(1 observation added)

. list Country2 if ISO3Abbr==""

     +----------+
     | Country2 |
     |----------|
137. |          |
     +----------+

.

In [149]:
%%stata
replace Country2="Belgium" in 137
replace ISO3Abbr="BEL" in 137
replace distanceKm=6230.393 in 137
replace common_lang=0 in 137

. replace Country2="Belgium" in 137
(1 real change made)

. replace ISO3Abbr="BEL" in 137
(1 real change made)

. replace distanceKm=6230.393 in 137
(1 real change made)

. replace common_lang=0 in 137
(1 real change made)

.

In [158]:
%%stata
frlink rebuild usExports

rebuilding variable usExports; executing
-------------------------------------------------------------------------------
-> frlink 1:1 ISO3Abbr, frame(usExports ISOCODE)
  (4 observations in frame distUs unmatched)
-------------------------------------------------------------------------------
variable usExports successfully rebuilt

In [162]:
%%stata
frlink dir

  (2 frlink variables found)
  -----------------------------------------------------------------------------
  isoCodes created by frlink 1:1 Country2, frame(isoCodes frietCountryName)
  -----------------------------------------------------------------------------
  lang created by frlink 1:1 WTDBCode, frame(lang)
  -----------------------------------------------------------------------------
  Note: Type "frlink describe varname" to find out more, including whether
  the variable is still valid.

In [163]:
%%stata
frlink 1:1 ISO3Abbr, frame(usExports ISOCODE)

  (4 observations in frame distUs unmatched)

In [164]:
%%stata
frlink dir

  (3 frlink variables found)
  -----------------------------------------------------------------------------
  isoCodes created by frlink 1:1 Country2, frame(isoCodes frietCountryName)
  -----------------------------------------------------------------------------
  lang created by frlink 1:1 WTDBCode, frame(lang)
  -----------------------------------------------------------------------------
  usExports created by frlink 1:1 ISO3Abbr, frame(usExports ISOCODE)
  -----------------------------------------------------------------------------
  Note: Type "frlink describe varname" to find out more, including whether
  the variable is still valid.

In [159]:
%%stata
drop usExp
frget usExp=USEXP, from(usExports)
list Country2 ISO3Abbr if usExp==.

Exception in thread Stata:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Applications/Stata 17/utilities/pystata/core/stout.py", line 176, in run
    raise SystemError(output)
SystemError:
. drop usExp

. frget usExp=USEXP, from(usExports)
variable usExports not found
(error in option from())
r(111);
r(111);

**The export data is now in the usDist frame**

In [168]:
%%stata
frame create gdp2014
cwf gdp2014

. frame create gdp2014

. cwf gdp2014

.

In [170]:
%%stata
import excel "Data/gdpByCountry2014.xlsx", sheet("Sheet1") firstrow
describe
duplicates list CountryCode

. import excel "Data/gdpByCountry2014.xlsx", sheet("Sheet1") firstrow
(2 vars, 264 obs)

. describe

Contains data
 Observations:           264
    Variables:             2
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
CountryCode     str3    %9s                   Country Code
B               double  %10.0g                2014
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

.

In [182]:
%%stata
rename B gdp

In [176]:
%%stata
cwf distUs
frlink 1:1 ISO3Abbr, frame(gdp2014 CountryCode)
frget gdp=B, from(gdp2014)
list Country2 ISO3Abbr usExp if gdp==.

Exception in thread Stata:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Applications/Stata 17/utilities/pystata/core/stout.py", line 176, in run
    raise SystemError(output)
SystemError:
. cwf distUs

. frlink 1:1 ISO3Abbr, frame(gdp2014 CountryCode)
  (8 observations in frame distUs unmatched)

. frget gdp=B, from(gdp2014)
(9 missing values generated)
  (1 variable copied from linked frame)

. list Country2 ISO3Abbr usExp if gdp=.
=exp not allowed
r(101);
r(101);

In [177]:
%%stata
list Country2 ISO3Abbr usExp if gdp==.

     +---------------------------------------------+
     |             Country2   ISO3Abbr       usExp |
     |---------------------------------------------|
  1. |              Germany        GER   4.944e+10 |
 10. |          Belgium-Lux        BLX           . |
 15. |               Taiwan        TWN   2.684e+10 |
 40. |           Yugoslavia        SER           . |
 44. |       Czechoslovakia        CSK           . |
     |---------------------------------------------|
 53. |              Romania        ROM   9.776e+08 |
 63. | Syrian.Arab.Republic        SYR     6794271 |
 76. |      Reunion.Islands        REU    11066584 |
103. |                Congo        ZAR           . |
     +---------------------------------------------+

In [178]:
%%stata
drop gdp
cwf gdp2014

. drop gdp

. cwf gdp2014

.

In [183]:
%%stata
list CountryCode gdp if CountryCode=="DEU"

     +----------------------+
     | Countr~e         gdp |
     |----------------------|
 54. |      DEU   3.891e+12 |
     +----------------------+

In [184]:
%%stata
replace CountryCode="GER" in 54

(1 real change made)

In [188]:
%%stata
cwf distUs
replace ISO3Abbr="ROU" if ISO3Abbr=="ROM"

. cwf distUs

. replace ISO3Abbr="ROU" if ISO3Abbr=="ROM"
(1 real change made)

.

**World Bank does not report GDP for Taiwan**

**No 2014 GDP data for Syria**.  Syria is a relatively small trading partner with the US in 2014.

**No 2014 GDP Data for Reunion Island** Syria is a relatively small trading partner with the US in 2014.

In [191]:
%%stata
frlink rebuild gdp2014

rebuilding variable gdp2014; executing
-------------------------------------------------------------------------------
-> frlink 1:1 ISO3Abbr, frame(gdp2014 CountryCode)
  (6 observations in frame distUs unmatched)
-------------------------------------------------------------------------------
variable gdp2014 successfully rebuilt

In [193]:
%%stata
frget gdp=gdp, from(gdp2014)
list Country2 ISO3Abbr usExp if gdp==.

. frget gdp=gdp, from(gdp2014)
(7 missing values generated)
  (1 variable copied from linked frame)

. list Country2 ISO3Abbr usExp if gdp==.

     +---------------------------------------------+
     |             Country2   ISO3Abbr       usExp |
     |---------------------------------------------|
 10. |          Belgium-Lux        BLX           . |
 15. |               Taiwan        TWN   2.684e+10 |
 40. |           Yugoslavia        SER           . |
 44. |       Czechoslovakia        CSK           . |
 63. | Syrian.Arab.Republic        SYR     6794271 |
     |---------------------------------------------|
 76. |      Reunion.Islands        REU    11066584 |
103. |                Congo        ZAR           . |
     +---------------------------------------------+

.